
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed","san-serif";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    margin-left: 20px;
    background-color: #ffffff

}

.sidebar_navbar{
    display: flex; 
    position: sticky;
    left: 0px;
    background-color: #89cfd8;
    flex-direction: column;
    padding: 35px;
    justify-items: center;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
}

.sidebar_nav_list{
    list-style: none;
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

img{
    position: relative;
    margin-right: 15px;
    bottom: 7px;
}

#icons{
    font-size: 14px;
    width: max-content;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 50px;
    color: #fff;
    background-color: #00ABE4;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    margin: 10px 0px 10px 0px;
    letter-spacing: 1px;
    text-align: center;
    transition: 0.3s ease;
}
#icons:hover {
    background: #ff635d;
    transform: scale(1.1);
}

.content_container{
    display: flex;
    flex-direction: column;
    height: 100rem;
    width: 980px;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    left: 30px;
    border-radius: 30px;
    place-items: center;  
    height: 100vh;
    overflow-y: auto;
    box-shadow: rgb(67, 216, 221) 0px 0px 30px 0px;
}

.admin{
    color: white;
}

.rent{
    color: rgb(150, 190, 236);
    margin: 50px 0px 50px 0px;
}

footer{
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #00ABE4;
    font-size: 20px;
    font-weight: bold;
    bottom: 0px;
}

.foot_text{
    text-decoration: none;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}