<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('auth.login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Enter username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter password">
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
    </div>
</body>
<script>
    // Automatically hide flash messages after 3 seconds (3000 ms)
    setTimeout(function() {
      const flashMessages = document.getElementById('flash-messages');
      if (flashMessages) {
        flashMessages.style.display = 'none';
      }
    }, 3000);  // 3 seconds
  </script>
</html>